* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

section.header {
    width: 100%;
    height: 80px;
    background-color: #051747;
}

.selection-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    background-color: black;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.selection-bar .container-sort select {
    border: none;
    background-color: none;
}

.selection-bar .search-bar {
    display: flex;
    height: 40px;
    width: 600px;
    background-color: yellow;
    border-radius: 4px;
}

.search-input {
    width: 100%;
    border: none;
    font-size: 1rem;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.search-icon {
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    padding: 30px 80px;
    font-family: "Montserrat", sans-serif;
}

/* 
.component {
    width: 500px;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 3rem;
    padding: 30px 20px;
    padding-top: 20px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    zoom: 0.9;
}

.upper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.upper .img {
    width: 110px;
    height: 110px;
    background-color: rgba(128, 128, 128, 0.863);
    border-radius: 50%;
    margin-top: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upper .img img {
    width: 110px;
    height: 110px;
}

.upper .right p {
    text-align: right;
    font-size: 15px;
}

.upper .right h1 {
    margin-top: 8px;
    font-size: 34px;
    text-align: right;
    font-weight: 500;
}

.upper .right h4 {
    text-align: right;
}

.upper .right h4 a {
    color: black;
    text-decoration: none;
    font-weight: 400;
    margin-top: 10px;
}

.upper .right #category {
    display: flex;
    justify-content: end;
    font-weight: bold;
}

.upper .right .category {
    width: 110px;
    margin-top: 18px;
    text-align: center;
    border-radius: 20px;
    padding: 5px;
    background-color: rgba(170, 166, 166, 0.664);
    font-size: 14px;
}

.upper .right .cat1 {
    background-color: #051747;
    color: white;
}

.lower h3 {
    margin-top: 10px;
}

.lower .status {
    margin-top: 10px;
    margin-bottom: 15px;
}

.lower .check-details {
    text-align: right;
    font-size: 15px;
    font-weight: 500;
    margin-top: 20px;
    cursor: pointer;
}

.lower .progress-bar {
    width: 100%;
    background-color: rgba(170, 166, 166, 0.664);
    overflow: hidden;
    margin-bottom: 15px;
}

.lower .progress {
    width: 38%;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: white;
    background-color: black;
    font-weight: 500;
    font-size: 14px;
}

@media (max-width: 500px) {
    .component {
        zoom: 0.7;
    }
}

@media (max-width: 400px) {
    .component {
        zoom: 0.6;
    }
} */

/*======= Second Component ========*/

div.component {
    width: 450px;
    padding: 25px 30px;
    box-shadow: 7px 7px 14px #d9d9d9,
        -7px -7px 14px #ffffff;
    border-radius: 20px;
    zoom: 0.9;
}

div.component div.upper {
    display: flex;
    justify-content: space-between;
}

div.component div.upper div.img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.component div.upper .img img {
    width: 100px;
    height: 100px;
}

div.component div.upper .client-name {
    width: 240px;
    height: 90px;
    padding: 20px 20px;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
    box-shadow: inset 7px 7px 14px #e8e8e8,
        inset -7px -7px 14px #ffffff;
}

div.component div.upper .client-name h1 {
    font-size: 30px;
    font-weight: bold;
}

div.component div.upper .client-name h4>a {
    text-decoration: none;
    font-size: 13px;
    color: #0cc0df;
    margin-top: 8px;
}

.component .project-id {
    margin-left: 20px;
    margin-top: 8px;
    margin-bottom: 5px;
}

.component .category {
    text-align: center;
    margin-top: 20px;
    font-size: 35px;
    line-height: 50px;
    border-top: 1px solid rgb(168, 163, 163);
    border-bottom: 1px solid rgb(168, 163, 163);
}

div.component div.lower {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.component div.lower div.right-work div.developer-img {
    width: 100px;
    height: 100px;
    background-color: rgba(128, 128, 128, 0.863);
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 80px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.component div.lower .right-work .developer-img img {
    width: 100px;
    height: 100px;
}

div.component div.lower .right-work .title {
    text-align: center;
    margin-top: 10px;
    margin-left: 55px;
}

div.component div.lower .right-work .developer-name {
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    margin-left: 55px;
}

div.component div.lower .right-work .msg {
    width: 180px;
    height: 120px;
    border: 1px solid rgb(168, 163, 163);
    margin-top: 20px;
    margin-bottom: 15px;
    padding: 10px;
    margin-left: 30px;
}

div.component div.lower .right-work .msg h2 {
    text-align: center;
    font-weight: normal;
    margin-bottom: 5px;
}

div.component div.lower .right-work .msg p {
    font-size: 12px;
    text-align: center;
}

div.component div.lower .right-work .btn {
    width: 220px;
    display: flex;
    justify-content: space-around;
}

div.component div.lower .right-work .btn .more-detail {
    width: 100px;
    height: 40px;
    border-radius: 0px;
    border: none;
    background-color: rgb(18, 169, 230);
    color: #fff;
    cursor: pointer;
}

div.component div.lower .right-work .btn .more-detail:hover {
    color: #0cc0df;
    background-color: #ffffff;
    border: 2px solid #0cc0df;
}

div.component div.lower .right-work .btn .check-website {
    width: 100px;
    height: 40px;
    border-radius: 0px;
    background-color: black;
    color: #fff;
    border: none;
    cursor: pointer;
}

div.component div.lower .right-work .btn .check-website:hover {
    color: black;
    border: 2px solid black;
    background-color: #ffffff;
}

div.component div.lower .progress-bar h1 {
    margin-top: 15px;
}

div.component div.lower .progress-bar h3 {
    text-align: center;
    margin-top: 10px;
}

div.component div.lower .progress-bar .all-nodes {
    display: flex;
    margin-top: 16px;
    gap: 25px;
    margin-left: 13px;
}

div.component div.lower .progress-bar .all-nodes .nodes {
    width: 3px;
    background-color: #0cc0df;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

div.component div.lower .progress-bar .all-nodes .nodes .node {
    width: 20px;
    height: 20px;
    background-color: #0cc0df;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.component div.lower .progress-bar .all-nodes .nodes .node img {
    width: 70%;
}

div.component div.lower .progress-bar .all-nodes .text-static,
div.component div.lower .progress-bar .all-nodes .text-portfolio,
div.component div.lower .progress-bar .all-nodes .text-dynamic {
    display: flex;
    flex-direction: column;
}

div.component div.lower .progress-bar .all-nodes .text-static,
div.component div.lower .progress-bar .all-nodes .text-dynamic {
    justify-content: space-between;
}

div.component div.lower .progress-bar .all-nodes .text-portfolio {
    gap: 17.5px;
}


div.component div.lower .progress-bar .all-nodes .text p {
    font-size: 13px;
    margin-top: 5px
}

div.component div.lower .current {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #0cc0df;
}

div.component div.lower .sonar-wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #0cc0df;
    opacity: 0;
    z-index: 1;
    pointer-events: none;
}

div.component div.lower .sonar-wave1 {
    animation: sonarWave 1s linear infinite;
}

div.component div.lower .sonar-wave2 {
    animation: sonarWave 1s 0s linear infinite;
}

div.component div.lower .sonar-wave3 {
    animation: sonarWave 1s 0s linear infinite;
}

div.component div.lower .sonar-wave4 {
    animation: sonarWave 1s 0s linear infinite;
}

@keyframes sonarWave {
    from {
        opacity: 1;
    }

    to {
        transform: scale(1.6);
        opacity: 0.2;
    }
}

section.outer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}


section.outer div.all-themes {
    position: relative;
    background-color: white;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    padding: 30px 15px;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

section.outer div.all-themes div.cross-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
}

section.outer div.all-themes div.theme {
    width: 350px;
    height: auto;
    padding: 15px 15px;
}

section.outer div.all-themes div.theme h1 {
    font-size: 35px;
    font-weight: normal;
    margin-bottom: 10px;
    font-family: sans-serif;
}

section.outer div.all-themes div.theme p {
    font-family: sans-serif;
}

section.outer div.all-themes div.theme div.btns {
    display: flex;
    gap: 15px;
}

section.outer div.all-themes div.theme div.btns button.pre {
    border: none;
    height: 25px;
    width: 100px;
    font-size: 15px;
    border-radius: 20px;
    font-family: sans-serif;
    color: rgb(90, 88, 88);
    font-weight: bold;
    margin-bottom: 13px;
}

section.outer div.all-themes div.theme div.btns button {
    border: none;
    height: 25px;
    width: 130px;
    font-size: 15px;
    border-radius: 20px;
    font-family: sans-serif;
    color: rgb(90, 88, 88);
    font-weight: bold;
    margin-bottom: 13px;
}

section.outer div.all-themes div.theme div.select-btns {
    display: flex;
    gap: 15px;
}

section.outer div.all-themes div.theme div.select-btns button {
    border: none;
    height: 32px;
    width: 150px;
    font-size: 18px;
    font-family: sans-serif;
    color: black;
    font-weight: bold;
    margin-top: 30px;
    cursor: pointer;
}

section.outer div.all-themes div.theme div.select-btns button:hover {
    background-color: darkgrey;
}